<div class="one-post">
  <%= render 'cross' %>
  <div class=bio>
    <h4>Bio</h4>
    <p><%= @user2.bio %></p>
  </div>
  <% @user2.recent_posts.each do |post| %>
    <div class="sev-post">
      <p>Post <%= post.id %></p>
      <p><%= post.text %></p>
      <div class="post-part">
        <p class="post-comment">Comments: <%= post.count_comments %></p>
        <p class="post-like">Likes: <%= post.count_likes %></p>
      </div>
    </div>

  <% end %>
</div>

<button>See all posts</button>
