<div class="one-post">
  <%= render 'cross' %>
  <div class="bio">
    <h4>Bio</h4>
    <p><%= @user2.bio %></p>
  </div>
  <% @user2.recent_posts.each do |post| %>
    <div class="sev-post">
      <p><%= link_to post.title, user_post_path(@user2, post) %></p>
      <p><%= post.text %></p>
      <div class="post-part">
        <p class="post-comment">Comments: <%= post.count_comments %></p>
        <p class="post-like">Likes: <%= post.count_likes %></p>
      </div>
    </div>

  <% end %>
</div>

<button class="btn"><%= link_to  "See posts", user_posts_path(@user2)  %></button>
