<li>
  <div>
    <p>Post <%= post.id %></p>
    <p><%= post.text %> </p>
    <p>Comments: <%= post.commentscounter %> </p>
    <p>Likes: <%= post.likescounter %> </p>
  </div>
  <div>
    <% post.recent_comments.each do |comment| %>
      <p><%= comment.text %>
    <% end %>
  </div>
</li>