<li class="post-item">
  <div class="sev-post">
    <p><%= link_to post.title, user_post_path(@user2, post) %></p>
    <p><%= post.text %> </p>
    <div class="post-part">
      <p>Comments: <%= post.count_comments %> </p>
      <p>Likes: <%= post.count_likes %> </p>
    </div>
  </div>
  <div class="recent-comments">
    <% post.recent_comments.each do |comment| %>
      <p><%= comment.author.name %>:<%= comment.text %>
    <% end %>
  </div>
</li>