<h1>My Post</h1>

<%= form_with model: @post, url: user_posts_url, method: :post, local: true, scope: :post do |f| %>
  <div>
    <%= f.label :Title %>
    <%= f.text_field :Title %>
  </div>

  <div>
    <%= f.label :Text %>
    <%= f.text_area :Text, size: '20x5' %>
  </div><br>

  <%= f.submit 'Add Post' %>


<% end %>