<div class="owner-post">
  <div class="one-post">
    <h3 class="head-3"> <%= @posta.title %> by <%= @posta.author.name %> </h3>
    <div class="post-part">
      <p class="post-comment">Comments: <%= @posta.count_comments %>
      <p class="post-like">Likes: <%= @posta.count_likes %>
      
    </div>
    <div>
      <p class="diff"><%= @posta.text %> </p>
    </div>
    
  </div>
  <div class="recent-comments">
    <% @posta.recent_comments.each do |comment| %>
      <p><%= comment.author.name %>:<%= comment.text %> </p>
      <% if can? :destroy, Comment %>
        <%= link_to 'Delete', user_post_comment_url(comment.post_id, comment.id), method: :delete %>
      <% end %>
    <% end %>
  </div>
</div>
<% if can? :destroy, Post %>
  <%= link_to 'Delete', user_posts_path, method: :delete %>
<% end %>
<%= link_to 'new', new_user_post_comment_path(@posta.author, @posta) %>
<%= render partial: 'likes/form' %>

