<div>
  <p>Post <%= @posta.id %> </p>
  <p>Comments: <%= @posta.count_comments %>
  <p>Likes: <%= @posta.count_likes %>
  <div>
    <p><%= @posta.text %> </p>
  </div>
  <div>
    <% @posta.recent_comments.each do |comment| %>
      <p><%= comment.text %> </p>
    <% end %>
  </div>
</div>